// ----------------- MODIFY FOR CHANGE PRIMEREACT SIZE COMPONENTS ----------------
html {
    font-size: 11px;
    font-family: $app-font-family;
}

input, button, select, optgroup, textarea {
    font-family: $app-font-family;
    color: $app-color-text;
}